#header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;

	&-inner {
		display: flex;
		align-items: center;
		height: 100px;
	}

	&.light {
		color: #fff;
	}

	&.dark {
		color: #000;
	}
}

.container {
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	height: 100vh;
}

[data-header-type="light"] { // [] 가 있으면 셀렉터
	color: #fff;
	background-color: #000;
}

[data-header-type="dark"] {
	color: #000;
	background-color: #f1f1f1;
}
